.hero-slider .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid silver;
  opacity: 0.5;
  margin-right: 8px;
  border-radius: 9999px;
  transition: opacity 0.3s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--color-primary);
  border: 1px solid white;
}

.hero-slider.hide-pagination .swiper-pagination {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.hero-slider .swiper-pagination-fraction,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}

@media (width >= 48rem /* 768px */) {
  .hero-slider .swiper-pagination-fraction,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: calc(var(--spacing) * 36);
    left: calc(var(--spacing) * 16);
    width: auto;
  }
}

@media (width >= 1024px) {
  .hero-slider .swiper-pagination-fraction,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: calc(var(--spacing) * 24);
  }
}
